{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <p class="float-right">
                {{session.get('username')}}
                |
                <a href="{{url_for('logout')}}">Log Out</a>
            </p>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
            {% for message  in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('employer') }}" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" class="form-control" placeholder="Your Address">
                        </div>
                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" name="position" id="position" class="form-control" placeholder="Your Position" required>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success">Add Employer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        {% if employers %}
            <div class="table-respansive">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Position</th>
                        <th>Action</th>
                    </tr>
                    {% for employer in employers %}
                    <tr>
                        <td> {{employer.id}} </td>
                        <td> {{employer.name}} </td>
                        <td> {{employer.address}} </td>
                        <td> {{employer.position}} </td>
                        <td>
                            <a class="btn btn-success" href="{{url_for('edit_employer' , id = employer.id)}}">Edit</a>
                            <a class="btn btn-danger" href="{{url_for('delete_employer' , employer_id = employer.id)}}">Delete</a>
                        </td>
                        
                    {% endfor %}
                </table>
            </div>
        {% else %}
        <div class="alert alert-info">
            No Employer aded yet!
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}