{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 offset-md-3">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Employer Page</h4>
                    <p>If you want to use this page you need to login.If you don't hava an account you can register</p>
                    <hr>
                  
                  </div>
            </div>
        </div>
    </div>
{% endblock %}